%table
  %tr
    %th Artist
    %th Name
    %th Play
  -@songs.each do |song|
    %tr
      %td= song.artist
      %td= song.name
      %td{:id => song.id}= link_to "Play", {:action => :play, :id => song.id}, :remote => true
