%div{"data-role" => "header"}
  %h1 Search
%div{"data-role" => "content"}
  %div{"data-role" => "fieldcontain"}
    - form_tag url_for(:controller => :songs, :action => :search) do
      %input{:type => "search", :name => "search_string"}
  #search-results
